*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI",  "Open Sans", "Helvetica Neue", sans-serif;
}

body{
    background: #f1f1f1;
    
}



section {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    width: 100%;
}

.Header{
    background-color: #333; /* Add your preferred color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #eeeeee;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
	margin-left: auto;
	margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
}

.Buttonhead{
    padding: 10px;
    justify-content: space-between;
}


.browsePic{
    display: flex;
} 

div#displayPic{
    margin-top: auto;
    margin-bottom: auto;
}

span#username{
    padding: 20px;  
}

#username{
    font-size: 25px;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
}

img{
    width: 50px;
    height: 50px;
    
}

img#gamePic{
    width: 300px;
    height: 300px;
    border-radius: 0%;
}

.game{
    
    position: absolute;
    left: 0;
    padding: 60px 0;
    width: 100%;
    display: flex;
    overflow: hidden;
    margin-left: auto;
    margin-bottom: auto;
    justify-content: center;
}

.game div{
    display: flex;
}

.game:hover div{
    animation-play-state: paused;
}

.game div img{
    margin: 0 25px;
    max-width: 300px;
    border: 10px solid #fff;
    transition: 0.25s;

}

.game div img:hover{
    border: 10px solid #fff;
    box-shadow: 0 20px 40px rgba(0, 0, 0, 0.1);
}

.game:hover div img{
    opacity: 0.05;
    filter: blur(5px);
}

.game div img:hover{
    opacity: 1;
    filter: blur(0px);
}

a{
    text-decoration: none;
}

.Footer ,.Footer1{  
    display: flex;
    gap: 30px;   
}

.Footer ,.Footer1 li{
    position: relative;
    list-style: none;   
}

.Footer ,.Footer1 li a{
    display: flex;
    align-items: center;   
    background: #eeeeee;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none; 
    text-align: center;  
    padding: 10px 10px;
}

.Footer a:after{
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
}

.Footer a:hover{
    
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
}

.Footer a:hover::after{
    width: 100%;
}

.Footer1 {
    position: absolute;
    top: 2px;
    display: flex;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 60%;
	margin-left: auto;
	margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background-color: white;
    border-radius: 10px;
    margin-top: 90px;
}

/* CSS */
.button-36 {
    background-color: red;
    border-radius: 8px;
    border-style: none;
    box-sizing: border-box;
    color: #FFFFFF;
    cursor: pointer;
    flex-shrink: 0;
    font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
    font-size: 16px;
    font-weight: 500;
    height: 3rem;
    padding: 0 1.6rem;
    text-align: center;
    text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
    transition: all .5s;
    user-select: none;
    -webkit-user-select: none;
    touch-action: manipulation;
  }
  
  .button-36:hover {
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
  div#RegisterAndLoginButton{
    gap: 10px;
    margin-left: auto;
    margin-right: auto;
  }

