body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222831;
    color: #eeeeee;
	
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

div.container{
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

.item1 {
    background-color: #393e46;
    padding: 20px;
    text-align: center;
}

#RegisterAndLoginButton {
    text-align: center;
    margin-top: 20px;
}

button {
    background-color: #00adb5;
    color: #eeeeee;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
	text-align: right;
}

button:hover {
    background-color: #393e46;
}

#LogoutButton {
    text-align: center;
    display: block;
    background-color: #00adb5;
    color: #eeeeee;
    padding: 10px 20px;
    text-decoration: none;
    margin-top: 20px;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#LogoutButton:hover {
    background-color: #393e46;
}

hr {
    width: 100%;
    border: 0.5px solid #eeeeee;
    margin: 20px 0;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #393e46;
    color: #eeeeee;
    border: 1px solid #00adb5;
}

textarea:focus {
    outline: none;
    border: 1px solid #00adb5;
}

#leader_Board_1,
#leader_Board_2,
#leader_Board_3 {
    text-align: left;
    margin-top: 20px;
}

#snakegamecomment_1_feed-container,
#snakegamecomment_2_feed-container,
#snakegamecomment_3_feed-container {
	overflow-y: scroll;
	height: 200px;
}

#birdgamecomment_1_feed-container,
#birdgamecomment_2_feed-container,
#birdgamecomment_3_feed-container {
	overflow-y: scroll;
	height: 200px;
}

#cargamecomment_1_feed-container,
#cargamecomment_2_feed-container,
#cargamecomment_3_feed-container {
	overflow-y: scroll;
	height: 200px;
}

div.newsfeed{
    display: flex;
    align-items: center;
    margin-top: 10px;
}

div.postuser{
	width: 8%;
	
}

#displayPic img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

#browsePic {
    text-align: center;
}

#displayPic,
#formId {
    display: inline-block;
    margin-top: 10px;
}

#formId input {
    display: none;
}

