body{
	margin: 0;
	padding: 0;
}

.item1 { grid-area: header;
	text-align: left;}

.item2 { grid-area: menu; 
	text-align: center;}

.item3 { grid-area: main; 
	text-align: center;}

.item4 { grid-area: footer; }

div{
	font-family: Arial, Helvetica, sans-serif;
}


.grid-container {
  display: grid;
  grid-template-columns: 10% 40% 40% 10%;
  grid-template-areas:
    'header header header header'
    'menu menu menu menu'
	'. main main .'
	'footer footer footer footer';
  grid-gap: 0 ;
  background-color: #232723;
  padding: 10px ;
}
.grid-container > div {
  background-color: rgba(255, 255, 255);
  padding: 20px 30px;
  font-size: 20px;
}

#posting{
	text-align: right;
	padding-right: 3%;
	width:50%;
	
}

textarea{
	width: 90%;
	min-width: 200px;
	height: 100px;
	margin-right: 0px;
	text-align: left;
	font-size: 20px;
}

#postbutton{
	width:20%;
	min-width: 100px;
	font-size: 20px;
}

hr {
   /* display: block;*/
    height: 1px;
    border: 0;
    border-top: 10px solid #4cad4b;
	border-radius: 10px;
    margin: 15px 10px;
    padding: 0; 
} 

.headleaderboard a:hover{
    transition: .5s;
	color: #FEBE9A;	
}

.newsfeed{
	display: flex;
	width: 100%;
	text-align: left;
	font-size: 20px;
	margin-top: 15px;
}

.postmsg{
	border-radius: 20px;
	width: 50%;
	background-color: #FEBE9A;
	margin-left: 15px;

	height: 100px;
	text-align: center;
	line-height: 100px;
	min-width: 200px;
}

.postuser {
	height: 100px;
	width:50%;
	text-align: center;
	line-height: 100px;
	min-width: 200px;
}

.picicon {
	display: inline-block;
	height: 50px;
	width:50px;
}

.flex_container{
	position: relative;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center; 
  height: 100vh;
}

#browsePic{
	display: inline-block;
	margin-right: 1%;
}
#displayPic{
	/*display: inline-block;*/
	width:100px;
	height: 80px;
	border: 2px solid black;

	/*background-color: #94A5AC;*/
}

#gamePic{
	height: 375px;
	width: 400px;
	border-radius: 25%;
	margin-right: 10%;
}

img{
	width:100%;
	height: 100%;
}

.hidden{
	display: none;
}

.item3 a{
	color:rgb(0, 0, 0);
	text-decoration: none;
	display: inline-flex;
	padding-inline: 2%;
}

.item2 a{
	color:rgb(0, 0, 0);
	text-decoration: none;
	display: inline-flex;
	padding-inline: 2%;

}

@media only screen and (max-width: 767px){
	.grid-container {
		grid-template-areas:
		  'header'
		  'menu' 'main';
	}
}