body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #222831;
    color: #eeeeee;
	
}

.grid-container {
    display: grid;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
    max-width: 800px;
    margin-top: 20px;
	margin-left: auto;
	margin-right: auto;
}

div.container{
    grid-template-columns: 1fr;
    gap: 20px;
    width: 80%;
    height: 80%;
    max-width: 800px;
    margin-top: -70px;
	margin-left: auto;
	margin-right: auto;
}

.item1 {
    background-color: #393e46;
    padding: 20px;
    text-align: center;
}

#RegisterAndLoginButton {
    text-align: center;
    
}

button {
    background-color: #00adb5;
    color: #eeeeee;
    padding: 10px 20px;
    border: none;
    cursor: pointer;
	text-align: right;
}

button:hover {
    background-color: #393e46;
}

#LogoutButton {
    text-align: center;
    display: block;
    color: #eeeeee;
    padding: 10px 20px;
    text-decoration: none;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

#LogoutButton:hover {
    background-color: #393e46;
}

hr {
    width: 100%;
    border: 0.5px solid #eeeeee;
    margin: 20px 0;
}

textarea {
    width: 100%;
    padding: 10px;
    margin-top: 10px;
    box-sizing: border-box;
    background-color: #393e46;
    color: #eeeeee;
    border: 1px solid #00adb5;
}

textarea:focus {
    outline: none;
    border: 1px solid #00adb5;
}

#leader_Board_1,
#leader_Board_2,
#leader_Board_3 {
    text-align: left;
    margin-top: 20px;
}

#snakegamecomment_1_feed-container,
#snakegamecomment_2_feed-container,
#snakegamecomment_3_feed-container {
	overflow-y: scroll;
	height: 200px;
}

#birdgamecomment_1_feed-container,
#birdgamecomment_2_feed-container,
#birdgamecomment_3_feed-container {
	overflow-y: scroll;
	height: 200px;
}

#cargamecomment_1_feed-container,
#cargamecomment_2_feed-container,
#cargamecomment_3_feed-container {
	overflow-y: scroll;
	height: 200px;
}

div.newsfeed{
    display: flex;
    align-items: center;
    margin-top: 10px;
    gap: 10px;
    
}

div.postuser{
	
	
}

#displayPic img {
    max-width: 100px;
    max-height: 100px;
    border-radius: 50%;
}

#browsePic {
    text-align: center;
}

#displayPic,
#formId {
    display: inline-block;
    margin-top: 10px;
}

#formId input {
    display: none;
}

.HomeAndLogoutButton{
    display: flex;
    justify-self: center;
    align-items: center;
    gap: 20px;
}

.Header {
    background-color: #333;
    /* Add your preferred color */
    box-shadow: 0 2px 5px rgba(0, 0, 0, 0.1);
    color: #eeeeee;
    position: absolute;
    top: 0;
    right: 0;
    display: flex;
    grid-template-columns: 1fr;
    gap: 20px;
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    align-items: center;
    justify-content: space-evenly;
  
  }
  
  .Buttonhead {
    padding: 10px;
    justify-content: space-between;
    
  }
  
  
  .browsePic {
    display: flex;
    
  }
  
  div#displayPic {
    margin-top: auto;
    margin-bottom: auto;
  }
  
  span#username {
    padding: 20px;
  }
  
  #username {
    font-size: 25px;
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  }
  
  img {
    width: 50px;
    height: 50px;
  
  }
  
  a {
    text-decoration: none;
  }
  
  .Footer,
  .Footer1 {
    display: flex;
    gap: 30px;
  }
  
  .Footer,
  .Footer1 li {
    position: relative;
    list-style: none;
  }
  
  .Footer,
  .Footer1 li a {
    display: flex;
    align-items: center;
    background: #eeeeee;
    color: #333;
    border-radius: 10px;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.1);
    font-family: "Inter UI", "SF Pro Display", -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
    font-size: 16px;
    font-weight: 500;
    text-decoration: none;
    text-align: center;
    padding: 10px 10px;
  }
  
  .Footer a:after {
    content: "";
    position: absolute;
    background-color: #fff;
    height: 3px;
    width: 0;
    left: 0;
    bottom: -10px;
    transition: 0.3s;
  }
  
  .Footer a:hover {
  
    box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
    transition-duration: .1s;
  }
  
  .Footer a:hover::after {
    width: 100%;
  }
  
  .button-36 {
      background-color: red;
      border-radius: 8px;
      border-style: none;
      box-sizing: border-box;
      color: #FFFFFF;
      cursor: pointer;
      flex-shrink: 0;
      font-family: "Inter UI","SF Pro Display",-apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,Oxygen,Ubuntu,Cantarell,"Open Sans","Helvetica Neue",sans-serif;
      font-size: 16px;
      font-weight: 500;
      height: 3rem;
      padding: 0 1.6rem;
      text-align: center;
      text-shadow: rgba(0, 0, 0, 0.25) 0 3px 8px;
      transition: all .5s;
      user-select: none;
      -webkit-user-select: none;
      touch-action: manipulation;
    }
    
    .button-36:hover {
      box-shadow: rgba(80, 63, 205, 0.5) 0 1px 30px;
      transition-duration: .1s;
    }
 
    h4{
        margin-top: 120px;
        font-size: 36px;
    }

    ul.Contact{
        background-color: #fff;
        width: 100%;
        justify-content: center;
        align-items: center;
        padding: 20px;
        margin-right: auto;
        margin-left: auto;
        list-style: none;
        text-align: center;
        margin: 0;
      }
    
      ul.Contact li{
        color: #eeeeee;
        border: #333 10px;
        border-radius: 100%;
        width: 50px;
        height: 50px;
      }
    
      ul.Contact i {
        font-size: 50px;
        color: #333;
      }
    
      .contactlable{
        display: flex;
        justify-content: center;
        align-items: center;
      }

      .Contacttext{
        color: #333;
        margin: 0;
      }